<template name="checkout">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
    	{{#if cart.products}}
    	<h2>Finalizando a Compra</h2>
      <table class="table">
        <thead>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </thead>
        <tbody>
          {{#each cart.products}}
          <tr>
            <td>{{name}}</td>
            <td>{{ duasCasas price}}</td>
            <td>{{quantity}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <p class="text-right lead text-success"><strong>Total: {{duasCasas total}}</strong></p>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-danger">
            <div class="panel-heading"><p class="text-left lead text-danger"><strong>Escolha uma opção de pagamento: </strong></p></div>
            <div class="panel-body">
              <p>
                {{#if limiteDeCreditoValido}}
                <label class="radio-inline text-success">
                  <strong><input type="radio" name="opcaoPagamento" id="credito" value="Limite de Crédito" checked><i class="fa fa-ticket"></i> Limite de Crédito</strong>
                </label>
                <label class="radio-inline text-primary">
                  <strong><input type="radio" name="opcaoPagamento" id="boleto" value="Boleto Bancário"><i class="fa fa-file-pdf-o"></i> Boleto Bancário</strong>
                </label>
                {{else}}
                <label class="radio-inline text-primary">
                  <strong><input type="radio" name="opcaoPagamento" id="boleto" value="Boleto Bancário" checked><i class="fa fa-file-pdf-o"></i> Boleto Bancário</strong>
                </label>
                {{/if}}
                <label class="radio-inline">
                  <strong><input type="radio" name="opcaoPagamento" id="cheque" value="Cheque"><i class="fa fa-list-alt"></i> Cheque</strong>
                </label>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <p class="text-right">
            <a href="{{ pathFor 'carrinho'}}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar para o carrinho</a>
            <a href="" id="close-purchase" class="btn btn-default btn-primary"><i class="fa fa-dot-circle-o"></i> Fechar Compra</a>
          </p>
        </div>
      </div>
      {{else}}
      <h2>Carrinho está vazio.</h2>
      <hr>
      <p class="text-left">
        <a href="{{ pathFor 'home'}}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Voltar para o catálogo</a>
      </p>
      {{/if}}
    </div>
  </div>
</template>
