<template name="editProduct">
	<h2>Editando Produto</h2>
	<hr>
	{{#autoForm collection="Products" doc=product id="updateProductForm" type="method" meteormethod="updateProduct"}}
  <fieldset>
    <legend>Editar Produto</legend>
    {{> afQuickField name='name'}}
    {{> afQuickField name='price'}}
    {{> afQuickField name='quantity'}}
    {{> afFieldInput name="_id" type="hidden"}}
  </fieldset>
  <button type="submit" class="btn btn-primary"><i class="fa fa-spinner"></i> Atualizar</button> <a href="{{ pathFor 'showProduct'}}" class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</a>
  {{/autoForm}}
</template>
