<template name="carrinho">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      {{#if cart.products}}
      <table class="table">
        <thead>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
        </thead>
        <tbody>
          {{#each cart.products}}
          <tr>
            <td>{{name}}</td>
            <td>R$ {{price}}</td>
            <td>{{quantity}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <p class="text-right">
        <a href="#" class="btn btn-danger" id="clearCart"><i class="glyphicon glyphicon-remove"></i> Esvaziar Carrinho</a>
        <a href="{{ pathFor 'home'}}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Finalizar Compra</a>
      </p>
      {{else}}
      <h3>Carrinho está vazio</h3>
      {{/if}}
      <hr>
      <p class="text-left">
        <a href="{{ pathFor 'home'}}" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i> Continuar Comprando</a>
      </p>
    </div>
  </div>
</template>
