<template name="carrinho">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      {{#if cart.products}}
      <table class="table">
        <thead>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{name}}</td>
            <td>{{ duasCasas price}}</td>
            <td>{{quantity}}</td>
            <td>
              <input type="number" id="updateQuantity_{{_id}}" value="{{quantity}}" style="width: 15%;">
              <a href="#" class="btn btn-primary btn-xs" id="updateCart"><i class="fa fa-refresh"></i></a>
            </td>
            <td>
              <a href="#" id="removeProduct" class="btn btn-danger btn-xs" title="Remover item do carrinho"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <p class="text-right lead text-success"><strong>Total: {{duasCasas total}}</strong></p>
      <hr>
      <p class="text-right">
        <a href="#" class="btn btn-danger" id="clearCart"><i class="fa fa-times"></i> Esvaziar Carrinho</a>
        <a href="{{ pathFor 'checkout'}}" class="btn btn-success"><i class="fa fa-check-circle"></i> Finalizar Compra</a>
      </p>
      {{else}}
      <h3>Carrinho está vazio</h3>
      {{/if}}
      <hr>
      <p class="text-left">
        <a href="{{ pathFor 'home'}}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Continuar Comprando</a>
      </p>
    </div>
  </div>
</template>
