<template name="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ pathFor 'home' }}">Minha Loja</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
						{{#if currentUser}}
						<li><a href="{{ pathFor 'profile' }}">Meus Dados</a></li>
						{{/if}}
						{{> loginButtons }} <!-- here -->
            <li><a href="{{ pathFor 'carrinho' }}">Carrinho {{> amountCart}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Seja bem vindo a <i>Minha Loja</i></h2>
        <p>A primeira loja da Paraíba desenvolvida em Meteor</p>
      </div>
    </div>

    <div class="container">
      {{> meteorErrors }}
      {{> yield }}
    </div> <!-- /container -->

    <footer>
      <hr>
      <div class="row">
        <div class="col-md-offset-2 col-md-4">
          <p>&copy; Minha Loja 2014</p>
        </div>
      </div>
    </footer>
</template>
