<template name="allOrders">
  <h2>Lista de Pedidos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Criada em</th>
        <th>Usuário</th>
        <th>Forma de Pagamento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>{{_id}}</td>
        <td>{{ formatarData createdAt}}</td>
        <td>{{ userCompleteName}}</td>
        <td>{{formaDePagamento}}</td>
        <td>
          <a href="" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> Ver</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr>
  <center>
    <button class="give-me-more btn btn-default btn-xs"><i class="fa fa-refresh"></i> Exibir mais Pedidos</button>
  </center>
</template>
