<template name="allOrders">
  <h2>Lista de Pedidos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Criada em</th>
        <th>Usuário</th>
        <th>Forma de Pagamento</th>
        <th>Total R$</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>{{ formatarData createdAt}}</td>
        <td>{{ userCompleteName}}</td>
        <td>{{formaDePagamento}}</td>
        <td>{{duasCasas total}}</td>
        <td>
          <a href="{{ pathFor 'showAdminOrder'}}" class="btn btn-default btn-xs"><i class="fa fa-eye"></i> Ver</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
  <center>
    {{#if limitPagination limite}}
    <a class="give-me-more btn btn-primary btn-block"><i class="fa fa-refresh"></i> Exibir mais 5 pedidos</a>
    {{else}}
    <a class="btn btn-default btn-block" disabled="disabled"><i class="fa fa-times"></i> Final da Listagem</a>
    {{/if}}
  </center>
</template>
